* {
    font-family: sans-serif;
    margin: 0
}

:root{
    --gallery-columns: 2;
    --primary-color: dodgerblue;
}
header{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    margin: 0 0 10px;
    border-bottom: 2px solid grey;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
}

header .container li{
    display: inline;
    padding: 15px;
    font-size: 1.5rem;
}

header .container a{
    text-decoration: none;
    color: white;
}

/* #logo img{
    max-width: 80px;
    border-radius: 50%;
    margin: 20px;
}

#logo{
    display: inline-flex;
    align-items: center;
} */

#logoTitle{
    display: inline-flex;
    align-items: center;
    svg{
        height: 80px;
        width: 80px;
        margin: 20px;
    }
}

svg path{
    fill: var(--primary-color)
}



#logo{
    background-color: var(--primary-color);
    width: 100px;
    height: 100px;
    font-weight: bold;
}

.nav.current-page{
    background-color: var(--primary-color);
    border-radius: 10px;
    margin: 10px;
}

.other-page a{
    transition: 0.5s;
}

.other-page:hover{
    a{
        transition: 0s;
        color: grey;
    }
}

main{
    display: flex;
    margin: 120px auto;
    max-width: 1400px;
}

.description{
    margin: 50px auto;
}

.interactive{
    width: 200px;
    height: 200px;
    background-color: darkgrey;
}

.gallery{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    max-width: 50%;
    gap: 10px;
}

.gallery-item{
    flex-basis: 40%;
    img{
        aspect-ratio: 3 / 2;
        object-fit: cover;
        border-radius: 10px;
    }
}

img{
    max-width: 100%;
    height: auto;
}

footer{
    margin: 20px auto 0;
    border-top: 2px solid grey;
    max-width: 1400px;

    p{
        margin: 20px;
        float: left;
    }
}

.color-swatch{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;

    &:hover{
        border: 1px solid grey;
    }
}

.red{
    background-color: crimson;
}

.orange{
    background-color: orangered;
}

.yellow{
    background-color: gold;
}

.green{
    background-color: limegreen;
}

.blue{
    background-color: dodgerblue;
}

.violet{
    background-color: blueviolet;
}

@media only screen and (width < 800px){
    :root{
        --gallery-columns: 1;
    }

    .gallery{
        margin: 10px;
    }
    * {
        color: red;
    }
}